<div style="background-color:grey;position: absolute;">
    <datum-multi-input ng-model="testContainerController.dataModel"></datum-multi-input>

    <div>   
    <span>
        <input type="number" ng-model="testContainerController.dataModel.longitude" style="width: 176px;background-color:transparent;" >        
    </span>
    אורך
    </div>

    <div>   
    <span>
        <input type="number" ng-model="testContainerController.dataModel.latitude"  style="width: 176px;background-color:transparent;" >        
    </span>
    רוחב
    </div>
</div>